{%  extends 'base.html'  %}

{% load static %}
{% load task_manager_tags %}


{% block title %}
<title>Capstone Project 3 - Task Manager > Login</title>
{% endblock title %}

{% block content %}
<section class="text-bg-light py-0">  
    <div class="container pt-4 pt-xl-2">
        <div class="row pt-2">
            <div class="col-md-9 col-xl-6 text-center text-md-start mx-auto">
                <section class="position-relative py-1 py-xl-1">
                    <div class="container">
                        <div class="row mb-2">
                            <div class="col-md-8 col-xl-6 text-center mx-auto">
                                <h2>Log in</h2>
                                <p class="w-lg-50">Accounts for testing: <br> admin | adm1n<br>boss | b0ss</p>
                            </div>
                            <div class="d-flex justify-content-center text-danger">{{ Message }}</div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 col-xl-4" style="width: 500px;">
                                <div class="card mb-5">
                                    <div class="card-body d-flex flex-column align-items-center">
                                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg
                                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                                fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                                <path
                                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z">
                                                </path>
                                            </svg></div>
                                        <form class="text-center" action="login" method="post">{% csrf_token %}
                                            <div class="mb-3"><input class="form-control" type="text" name="username"
                                                    placeholder="Username" maxlength="10"></div>
                                            <div class="mb-3"><input class="form-control" type="password" name="password"
                                                    placeholder="Password" maxlength="10"></div>
                                            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit"
                                                    name="submit" value="login">Login</button></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
<section>
{% endblock content %}

{% block footer %}
{% endblock footer %}


